<!-- <div *ngIf="isLoggedIn()">
    <div class="container">Hi and welcome!</div>
    <div class="container">Name: {{ userInfo.info.name }}</div>
    <div class="container">Email: {{ userInfo.info.email }}</div>
    <div class="container">Sub: {{ userInfo.info.sub }}</div>
    <div class="container"><img [src]="userInfo.info.picture"></div>
    <div class="container">accessToken: {{ accessToken }}></div>
    </div> -->
    <!-- <div class="container">
      <button (click)="getEmails()">List Emails</button>
    </div>
    <div class="container" *ngFor="let snippet of mailSnippets">
      {{ snippet }}
    </div> -->
    <!-- <div class="container">
      <button (click)="logout()">Logout from Google</button>
    </div> -->

<!-- <h1>Google Login</h1>
<div class="container">accessToken: {{ accessToken }}></div> -->
<div class="container">
    <button (click)="logout()">Logout from Google</button>
</div>
<button type = "button" routerLink="/">Back to main</button>

