<div>
    <form [formGroup]="form" (ngSubmit)="login()">
        <div>
            <mat-form-field appearance="fill" [style.width.px]="248">
                <mat-label>Enter your email</mat-label>
                <input matInput type = "email" placeholder="pat@example.com" formControlName="email">
            </mat-form-field>
        </div>
        
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Enter your password</mat-label>
                <input matInput type = "password" formControlName="password">
            </mat-form-field>
            
        </div>
        <button mat-raised-button color="primary" type="submit">Login</button>
    </form>

    <div>
        <p>Register your account here!</p>
        <button mat-raised-button color="primary" type="button" [routerLink]="['/register']">Register</button>
    </div>
</div>